<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Contaminación</title>
</head>
<body>
    <h1>Consulta de Contaminación</h1>

    <!-- <form action="/resultados" method="post">
        <label for="...">Barrio:</label>
        <input type="text" id="..." name="..."><br><br>
        <label for="DIA">Día del mes:</label>
        <input type="text" id="DIA" name="DIA"><br><br>
        <input type="submit" value="Consultar">
    </form> -->
</body>
</html>
